@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');
/* !Resets */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --primary-text-color:#183b56;
    --secondary-text-color:#577592;
    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3;
    --padding-inline-section:20px;
}

body
{
    font-family: "Poppins",sans-serif;
    color: var(--primary-text-color);
}

h1
{
    font-size: 3rem;
}
h2
{
    font-size: 2rem;
}
h3
{
    font-size: 1.5rem;
}
p
{
    font-family: 'Roboto',sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}
a
{
    text-decoration: none;
    display: inline-block;
}
.flex
{
    display: flex;
    align-items: center;
}
ul
{
    list-style: none;
}
/* !Utilities */
.small-bold-text
{
    font-size: 1rem;
    font-weight: 700;
}
.container
{
    max-width:1180px;
    margin-inline:auto;
    padding-inline:var(--padding-inline-section);
}
.hover-links
{
    color: var(--primary-text-color);
    transition: 0.2s ease-out;
}
.hover-links:hover
{
    color: var(--accent-color);
}
.primary-btn
{
    background-color: var(--accent-color);
    border-radius: 5px;
    font-weight: 700;
    color: white !important;
    padding: 10px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
}
.primary-btn:hover
{
    background-color: var(--accent-color-dark);
}
.secondary-btn
{
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary-text-color) !important;
    padding: 10px 15px;
    transition: 0.2s ease-out;
}
.secondary-btn:hover
{
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
}
/*? Section Starts? */
.banner-text
{
    color: white;
    padding: 15px 30px;
    text-align: center;
}
.top-banner
{
    background-image: url(/assets/asset\ 32.png);
    background-size: 300px;
    background-color: #4fb3d4;
}
/* !Navbar */
.main-nav
{
    justify-content: space-between;
    margin-top: 20px;
}
.company-logo img
{
    width: 200px;
}
.nav-links
{
    flex-basis: 730px;
}
.nav-links ul
{
    justify-content: end;
    gap: 40px;
}
/* !Header */
header
{
    padding: 50px var(--padding-inline-section) 0;
}
.header-sec
{
    justify-content: center;
    gap: 50px;
}
.head-left
{
    max-width: 40vw;
}
.head-left h1
{
    margin-top: 20px;
}
.get-s-btn
{
    margin-top: 20px;
}
.header-sec img
{
    width: 600px;
}
/* !Company Section Starts */
.comp-head
{
    text-align: center;
    margin-block: 30px;
    color: var(--primary-text-color);
}
.logos
{
    /* height: 46px; */
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo
{
    height: 46px;
}
/* !Features Section */
.features-section
{
    background-image: url(/assets/asset\ 41.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 80px var(--padding-inline-section) 0;
}
.feat-head
{
    text-align: center;
}
.feat-heading
{
    margin-bottom: 20px;
}
.feat-card
{
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    text-align: center;
}
.feat-area
{
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}
/* !Big-Features-Section*/
.big-features-section
{
    padding: 30px var(--padding-inline-section) 0;

}
.big-fc
{
    gap: 30px;
}
.feat-img img
{
    width: 100%;
}
.feat-desc
{
    flex-direction: column;
    align-items: flex-start;
}
/* !Example Sections */
.example-area
{
    justify-content: space-between;
    margin-block: 30px;
    transition: 0.2s ease-out;
}
.ex-card
{
    width: 23%;
    position: relative;
    min-height: 300px;
    background-color: black;
    background:linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)),url(/assets/asset\ 36.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.ex-card:hover
{
    box-shadow: 0px 0px 10px var(--primary-text-color);
}
/* .ex-card:nth-child(1)
{
    background:linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)),url(/assets/asset\ 38.jpeg);
} */
.card-text
{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
}
/* !New Section here */
.new-sec
{
    height: 100%;
    background-color:#183b54;
    color: white;
    padding-block: 40px;
}
.new-sec .feat-img-1 img
{
    /* position: relative; */
    width: 100%;
    /* float: right;
    right: 10px; */
}
/* .new-sec .feat-img-1 img img
{
    position: absolute;
} */
/* .newSection h3,p
{
    margin: 40px;
    color:white;
} */
.new-sec ul
{
    column-count: 2;
    list-style:disc;
    font-size: large;
    column-gap: 35px;
}
/* !Cta Section */
.cta-sc
{
    margin-top: 40px;
    flex-direction: column;
    gap: 40px;
}
/* !Footer section */
.fc
{
    align-items: flex-start;
    justify-content: space-between;
}
.links-col
{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
footer
{
    margin-top: 30px;
    padding-block: 80px;
    background-color: #ebf2f2;
}
/* !Sub-footer */
.sub-footer
{
    background-color: #b9cde4;
    padding: var(--padding-inline-section);
}
.sub-c
{
    justify-content: center;
    gap: 30px;
}